<%- include('./partials/header') %>

    <div class="container d-flex p-4" style = "gap:20px;">
      <%allusers.forEach(function(user){%>
        <div class="card" style="width: 18rem;">
          <img src="<%= user.profileimage %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%=user.fullname%></h5>
            <p class="card-text"> <%= user.email%></p>
            <small> liked by <%=user.likes.length%> people.</small>
            <a href="/like/<%=user.id%>" class="btn btn-primary">Like Profile.</a>
          </div>
        </div>
      <%})%>
    <br>
    <a href="/logout" style="text-decoration: none;">
      <button type="submit" class="btn btn-primary">logout.</button>
    </a>
    </div>

<%- include('./partials/footer') %>